# .env
TEST_PRIVATE_KEY="PRIVATE KEY"
TEST_RECEIVER_ADDRESS="RECIEVER ADDRESS"
TEST_USDC_AMOUNT="0.01"

# Important: do not use spaces between figment Dict fields 
# https://stackoverflow.com/questions/60021986/how-to-set-up-a-database-connection-from-environment-in-rocket
ROCKET_TQ={enabled=true,db_url="postgresql://user:password@db.com:port/some_db"}
